@model fay.Models.ViewModel.OrderDataView
<div>
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>outbond Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>No. Desk</th>
                <th>Details</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.orders)
            {
                <tr>
                    <td> @Html.DisplayFor(m => i.namaoutbond)</td>
                    <td> @Html.DisplayFor(m => i.keterangan)</td>
                    <td> @Html.DisplayFor(m => i.tgl_akhir)</td>
                    <td> @Html.DisplayFor(m => i.tgl_mulai)</td>
                    <td> @Html.DisplayFor(m => i.tgl_pesan)</td>
                    <td> @Html.DisplayFor(m => i.harga)</td>
                    <td> @Html.DisplayFor(m => i.quantity)</td>
                    <td> @Html.DisplayFor(m => i.jumlah)</td>                 
                    <td><button class="btn btn-danger outbondDelete">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
